:root {
  --main-color: #fed35c;
  --other-color: #333333;
  --main-bg-color: #f2f2f2;
  --container-bg-color: white;
  --input-underline-color: #333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */

header {
  height: 80px;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding: 0 20px;
  position: sticky;
  top: 0;
}

.header-logo {
  text-decoration: none;
  color: black;
  font-family: cursive;
}

.header-logo:visited {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  align-items: center;
}

.home-button {
  margin-right: 20px;
  font-size: 18px;
  cursor: pointer;
}

.profile-nav-button {
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.profile-nav-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 12px;
  right: 5px;
}

.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.dropdown-content a:hover {
  background-color: #d1d1d1;
}

main {
  padding: 10px 100px 10px 100px;
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* LOGIN AND REGISTRATION */

.form-container {
  padding: 20px;
  background-color: var(--container-bg-color);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 350px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form a {
  text-decoration: none;
}

.form-container input {
  border: none;
  border-bottom: 1px solid var(--input-underline-color);
  padding: 5px;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: var(--other-color);
}

.form-container input:not(:first-child) {
  margin-top: 30px;
}

#login-email-input {
  margin-top: 0;
}

#login-button,
#sign-up-button {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}

#login-button:hover,
#sign-up-button:hover {
  background-color: #fed35c;
}

#form-bottom-message {
  font-size: 15px;
  color: var(--other-color);
}

.full-name-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#first-name-input {
  width: 100%;
  margin-right: 2%;
}

#last-name-input {
  width: 100%;
  margin-left: 2%;
}

.dob-and-gender-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
}

#dob-input {
  width: 48%;
  margin-right: 2%;
}

#gender-select {
  width: 48%;
  margin-left: 2%;
  height: 31px;
  border: none;
  border-bottom: 1px solid var(--input-underline-color);
  outline: none;
  font-size: 16px;
  color: #8c8075;
}

.error-message-div {
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.error-message {
  color: red;
  font-size: 14px;
  padding: 5px;
}

/* PROFILE AND TIMELINE */

.user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-picture-container img {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  margin-right: 20px;
}

#profile-user-name {
  font-size: 20px;
  margin-bottom: 10px;
}

#edit-profile-button {
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #bbbbbb;
}

#edit-profile-button:hover {
  background-color: #a3a3a3;
}

.new-timeline-button-container {
  width: 100%;
}

#new-timeline-button,
#remove-timeline-button,
#new-memory-button,
#edit-timeline-button,
#edit-memory-button,
#remove-memory-button {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

#new-timeline-button:hover,
#remove-timeline-button:hover,
#new-memory-button:hover,
#edit-timeline-button:hover,
#edit-memory-button:hover,
#remove-memory-button:hover {
  background-color: #bbbbbb;
}

.timeline-select-container,
.memories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.timeline-select-container a {
  text-decoration: none;
  color: black;
}

.timeline-select-container a:visited {
  text-decoration: none;
  color: black;
}

hr {
  width: 100%;
}

.timeline-item,
.memory-item {
  background-color: rgba(161, 159, 159, 0.5);
  width: 250px;
  height: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timeline-item:hover {
  background-color: rgba(161, 159, 159, 0.3);
  cursor: pointer;
}

.memory-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.current-timeline-container,
.current-memory-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.current-timeline-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CREATE TIMELINE MODAL*/

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  display: flex;
  flex-direction: column;
}

#timelineName {
  width: 50%;
}
.add-timeline-modal-button {
  padding: 5px;
  cursor: pointer;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* EDIT PROFILE */

.profile-picture-edit-container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.edit-profile-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.edit-profile-container > * {
  margin-bottom: 10px;
}

.edit-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(114, 114, 114);
  border-radius: 10px;
  padding: 10px;
}

.edit-page-buttons {
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.edit-page-buttons:hover {
  background-color: #a3a3a3;
}

.save-or-cancel-changes-container {
  padding: 10px 50px;
}

#save-changes-button,
#cancel-changes-button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#save-changes-button:hover,
#cancel-changes-button:hover {
  background-color: #a3a3a3;
}

/* FEED */

.feed-post {
  background-color: #e0e0e0;
  padding: 15px;
  margin: 5px;
}

.post-heading img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-heading p {
  margin-left: 10px;
}

.post-heading {
  display: flex;
  align-items: center;
  padding: 0 0 10px 0;
}

.post-picture img {
  min-width: 400px;
  width: 400px;
  max-height: 550px;
}

.post-description {
  margin: 5px 0;
}

.post-dates {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #333333;
  margin-top: 10px;
}

/* MEMORY */

.memory img {
  background-repeat: no-repeat;
  width: auto;
  height: auto;

  max-width: 800px;
  max-height: 800px;
}

.memory-description {
  font-size: 18px;
  font-weight: bold;
}

.memory-dates {
  display: flex;
  justify-content: space-between;
}

.memory-dates p {
  font-size: 15px;
}

/* PAGINATION */

.pagination {
  margin: 20px;
}

.pagination-button {
  background-color: #d8d8d8;
  color: black;
}

.pagination-button:visited {
  color: black;
}

.pagination-button:hover {
  background-color: #bbbbbb;
}

.pagination-button,
.pagination-current {
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}
