<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Lane</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/feed" class="header-logo">Memory Lane</a>
      <nav>
        <div class="profile-nav-button">
          <% if(user[0].profile_picture) {%>
          <img
            src="data:image/jpeg;base64,<%= Buffer.from(user[0].profile_picture)%>"
            alt="Profile Image"
          />
          <% }else{ %>
          <img src="/images/default_profile_img.jpg" alt="" />
          <% }%>
          <div class="dropdown-content">
            <a href="/profile">Profile</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="edit-profile-container">
        <div class="profile-picture-edit-container edit-containers">
          <img src="/images/maca.jpg" alt="" />
          <button id="change-picture-button" class="edit-page-buttons">
            Change
          </button>
        </div>
        <div class="change-first-name-container edit-containers">
          <p><%=user[0].first_name%></p>
          <button id="change-first-name-button" class="edit-page-buttons">
            Change
          </button>
        </div>
        <div class="change-last-name-container edit-containers">
          <p><%=user[0].last_name%></p>
          <button id="change-last-name-button" class="edit-page-buttons">
            Change
          </button>
        </div>
        <div class="change-password-container edit-containers">
          <p>PASSWORD</p>
          <button id="change-password-button" class="edit-page-buttons">
            Change
          </button>
        </div>

        <div class="save-or-cancel-changes-container edit-containers">
          <button id="save-changes-button">SAVE</button>
          <button id="cancel-changes-button">CANCEL</button>
        </div>
      </section>
    </main>
    <script src="/js/navDropdown.js"></script>
  </body>
</html>
