<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Lane</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="icon" href="/images/favicon_logo.png" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>

    <main>
      <section class="edit-profile-container">
        <div class="profile-picture-edit-container edit-containers">
          <img src="/images/maca.jpg" alt="alt" />
          <button id="change-picture-button" class="edit-page-buttons">
            Change
          </button>
        </div>
        <div class="change-first-name-container edit-containers">
          <p><%=user[0].first_name%></p>
          <button id="change-first-name-button" class="edit-page-buttons">
            Change
          </button>
        </div>
        <div class="change-last-name-container edit-containers">
          <p><%=user[0].last_name%></p>
          <button id="change-last-name-button" class="edit-page-buttons">
            Change
          </button>
        </div>
        <div class="change-password-container edit-containers">
          <p>PASSWORD</p>
          <button id="change-password-button" class="edit-page-buttons">
            Change
          </button>
        </div>

        <div class="save-or-cancel-changes-container edit-containers">
          <button id="save-changes-button">SAVE</button>
          <button id="cancel-changes-button">CANCEL</button>
        </div>
      </section>
    </main>
    <script src="/js/navDropdown.js"></script>
  </body>
</html>
