<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Lane</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="/feed" class="header-logo">Memory Lane</a>
      <nav>
        <div class="profile-nav-button">
          <% if(user[0].profile_picture) {%>
          <img
            src="data:image/jpeg;base64,<%= Buffer.from(user[0].profile_picture)%>"
            alt="Profile Image"
          />
          <% }else{ %>
          <img src="/images/default_profile_img.jpg" alt="" />
          <% }%>
          <div class="dropdown-content">
            <a href="/profile/<%=user[0].user_id %>">Profile</a>
            <a href="/logout">Log Out</a>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="feed-container">
        <div class="feed-post">
          <div class="post-heading">
            <img src="/images/maca.jpg" alt="" />
            <p class="post-username">jomu</p>
          </div>
          <div class="post-picture">
            <img src="/images/maca.jpg" alt="" />
          </div>
          <div class="post-description">My cat, Boban</div>
          <div class="post-dates">
            <p>Created at:</p>
            <p>Last edit at:</p>
          </div>
        </div>
        <div class="feed-post">
          <div class="post-heading">
            <img src="/images/maca.jpg" alt="" />
            <p class="post-username">jomu</p>
          </div>
          <div class="post-picture">
            <img src="/images/wf.jpg" alt="" />
          </div>
          <div class="post-description">Some nice roses</div>
          <div class="post-dates">
            <p>Created at:</p>
            <p>Last edit at:</p>
          </div>
        </div>
        <div class="feed-post">
          <div class="post-heading">
            <img src="/images/maca.jpg" alt="" />
            <p class="post-username">jomu</p>
          </div>
          <div class="post-picture">
            <img src="/images/20221103_024205.jpg" alt="" />
          </div>
          <div class="post-description">My guitars</div>
          <div class="post-dates">
            <p>Created at: 16/12/2023</p>
            <p>Last edit at: 16/12/2023</p>
          </div>
        </div>
      </section>
    </main>
    <script src="/js/navDropdown.js"></script>
  </body>
</html>
