<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Memory Lane</title>
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header>Logo Here</header>

    <main>
      <section class="form-container">
        <form action="login" method="POST">
          <h2>Login</h2>
          <br />
          <br />
          <br />
          <input
            type="email"
            name="email"
            id="login-email-input"
            placeholder="Email"
            required
          />
          <div class="error-message-div">
            <% if (errors && errors.email) { %>
            <p class="error-message"><%= errors.email.msg %></p>
            <% } %>
          </div>

          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
            required
          />
          <div class="error-message-div">
            <% if (errors && errors.password) { %>
            <p class="error-message"><%= errors.password.msg %></p>
            <% } %>
          </div>

          <button id="login-button">LOGIN</button>
          <br />
          <br />
          <br />
          <p class="form-bottom-message">
            Don't have an account? <a href="/register-page">Sign Up.</a>
          </p>
        </form>
      </section>
    </main>
  </body>
</html>
